<div class="container">
    <form (ngSubmit)="create()" #createForm="ngForm">
      <div class="form-group">
        <label for="name">Contenido</label>
        <input
          id="contenido"
          class="form-control"
          type="text"
          name="contenido"
          required
          [(ngModel)]="comentario.contenido"
          #txtName="ngModel"
        />
        <div
          [hidden]="txtName.valid || !txtName.touched"
          class="alert alert-danger"
        >
          Name is required
        </div>
      </div>

  
      <button type="submit" [disabled]="!canSubmit">
        Crear Comentario
      </button>
      <button (click)="cancel()">Cancelar</button>
    </form>
  
    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>
  </div>

