<div class="container">
  <p class="h1">Crear Comentario</p>
    <form (ngSubmit)="create()" #createForm="ngForm">
      <div class="form-group">
        <label for="contenido">Contenido</label>
        <input
          id="contenido"
          class="form-control"
          type="text"
          name="contenido"
          required
          [(ngModel)]="comentario.contenido"
          #txtName="ngModel"
        />
        <div
          [hidden]="txtName.valid || !txtName.touched"
          class="alert alert-danger"
        >
          Contenido es requerido
        </div>
      </div>

  
      <button type="submit" class="btn btn-success" [disabled]="!canSubmit">
        Guardar
      </button>
      <button type="button" class="btn btn-warning" (click)="cancel()">Cancelar</button>
    </form>
  
    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>
  </div>

