/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.h1{    display: flex;
    color: rgb(66, 65, 65);
    justify-content: center;}

.h2{
    color: rgb(66, 65, 65);
}

.creacion{
    display:flex;
    justify-content: center;
}
