<div class="container">
  <p class=h1>Crear Foro</p>
    <form (ngSubmit)="create()" #createForm="ngForm">
      <div class="form-group">
        <label for="name">Nombre Foro</label>
        <input
          id="name"
          class="form-control"
          type="text"
          name="name"
          required
          [(ngModel)]="foro.nombre"
          #txtName="ngModel"
        />
        <div
          [hidden]="txtName.valid || !txtName.touched"
          class="alert alert-danger"
        >
          Nombre Foro es requerido
        </div>
      </div>
      <div class="form-group form-check">
        <input class="form-check-input"
        id="foro"
        type="checkbox"
        name="foro"
        [(ngModel)]="foro.moderado"
        #txtName="ngModel"
      />
        <label for="foro">Foro moderado</label>
      </div>
      
    
  
     
  
      <button type="submit" class="btn btn-success" [disabled]="!canSubmit">
        Guardar
      </button>
      <button type="button" class="btn btn-warning" (click)="cancel()">Cancelar</button>
    </form>
  
    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>
  </div>
 
  
