

  :host {
    display: flex;
    justify-content: center;
    padding: 200px;
  }
  
  mat-card{
      border-radius: 10px 10px 10px;
  }

  .mat-form-field {
    width: 100%;
    min-width: 300px;
  }
 
  mat-card-title,
  mat-card-content {
    display: flex;
    color: rgb(66, 65, 65);
    justify-content: center;
  }


  .button {
    display: flex;
    justify-content: center;
  }