

  :host {
    display: flex;
    justify-content: center;
    padding: 200px;
  }
  
  mat-card{
      border-radius: 10px 10px 10px;
  }

  .mat-form-field {
    width: 100%;
    min-width: 300px;
  }
 
  mat-card-title,
  mat-card-content {
    display: flex;
    color: rgb(56, 99, 79);
    justify-content: center;
  }

  .error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: red;
  }

  .button {
    display: flex;
    justify-content: center;
  }