<div class="container">
    <form (ngSubmit)="create()" #createForm="ngForm">
      <div class="form-group">
        <label for="name">Contenido</label>
        <input
          id="contenido"
          class="form-control"
          type="text"
          name="contenido"
          required
          [(ngModel)]="respuesta.contenido"
          #txtName="ngModel"
        />
        <div
          [hidden]="txtName.valid || !txtName.touched"
          class="alert alert-danger"
        >
          Name is required
        </div>
      </div>

      <div class="form-group">
        <label for="name">Fecha</label>
        <input
          id="fecha"
          class="form-control"
          type="text"
          name="fecha"
          required
          [(ngModel)]="respuesta.fecha"
          #txtName="ngModel"
        />
        <div
          [hidden]="txtName.valid || !txtName.touched"
          class="alert alert-danger"
        >
          Name is required
        </div>
      </div>

      <div class="form-group">
        <label for="name">Rating</label>
        <input
          id="rating"
          class="form-control"
          type="number"
          name="rating"
          required
          [(ngModel)]="respuesta.rating"
          #txtName="ngModel"
        />
        <div
          [hidden]="txtName.valid || !txtName.touched"
          class="alert alert-danger"
        >
          Name is required
        </div>
      </div>
  
      <button type="submit" [disabled]="!canSubmit">
        Crear Respuesta
      </button>
      <button (click)="cancel()">Cancelar</button>
    </form>
  
    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>
  </div>