<div>
    <a [routerLink]="['/temas/',idForo,'comentarios',idTema,'create']">Crear comentario</a>
    <table class="table table-light">
      <thead class="thead-light">
        <tr>
          <th>Id</th>
          <th>Contenido</th>
          <th>Fecha</th>
          <th>Rating</th>
          <th>Respuestas</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let comentario of comentarios">
          <td *ngIf="comentario.moderado == true || validacionOcultar == false">{{ comentario.id}}</td>
          <td *ngIf="comentario.moderado == true || validacionOcultar == false">{{ comentario.contenido }}</td>
          <td *ngIf="comentario.moderado == true || validacionOcultar == false">{{ comentario.fecha }}</td>
          <td *ngIf="comentario.moderado == true || validacionOcultar == false">{{ comentario.rating }}</td>
          <td *ngIf="comentario.moderado == true || validacionOcultar == false"><a [routerLink]="['/temas', idForo,'comentarios',idTema,'respuestas',comentario.id]">Ver respuestas</a></td>
          <td *ngIf="(comentario.moderado == true || validacionOcultar == false) && (comentario.tipoUsuario == tipoUsuario || tipoUsuario == 'administrador')"><a [routerLink]="['/temas', idForo,'comentarios',idTema,'edit',comentario.id]">Editar Comentario</a></td>
          <td *ngIf="(comentario.moderado == true || validacionOcultar == false) && (comentario.tipoUsuario == tipoUsuario || tipoUsuario == 'administrador')" (click)="eliminar(comentario.id)">Eliminar</td>
          <td *ngIf="comentario.moderado == true || validacionOcultar == false" (click)='masRating(comentario.id)'>Subir rating</td>
          <td *ngIf="comentario.moderado == true || validacionOcultar == false" (click)='menosRating(comentario.id)'>Bajar rating</td>
          <td *ngIf="validacionOcultar == false && comentario.moderado == false" (click)="aceptarModerado(comentario.id)">Aceptar tema</td>
          <td *ngIf="validacionOcultar == false && comentario.moderado == false" (click)="eliminar(comentario.id)">Denegar tema</td>
        </tr>
      </tbody>
    </table>
  </div>

